/* ===========================
   Base Card
=========================== */

#baseCard {

    background: #252525;

    border: 1px solid #343434;

    border-radius: 12px;

    padding: 14px;
}

/* ===========================
   Info Card
=========================== */

#infoCard {

    min-height: 140px;
}