#bookTitle {

    font-size:16px;

    font-weight:bold;
}

#bookAuthor {

    color:#9c9c9c;

    font-size:12px;
}

#bookProgress {

    color:#6aa8ff;

    font-size:12px;
}

#dashboardGreeting {

    font-size: 28px;

    font-weight: bold;

    color: white;
}

#dashboardSubtitle {

    font-size: 15px;

    color: #9d9d9d;

    margin-bottom: 12px;
}